*{
	margin: 0px;
	padding: 0px
}
.holder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	justify-content: space-between
}

.item {
	width: 200px;
	height: 200px;
	font-size: 50px;
	color: black
}

#blue {
	background-color: blue;
}

#green {
	background-color: green;
}

#red {
	background-color: red;
}